<footer>
  <div id="footer" class="pt-4 mb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div>
                    <img src="./images/LOGO-trans.png" alt="" class="img-fluid" height="200px" width="200px">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">                    
                <ul>
                    <h5 class="text-white text-center">Useful Links</h5>
                    <li class="text-white text-center"><a href="#">Home</a></li>
                    <li class="text-white text-center"><a href="#">About</a></li>
                    <li class="text-white text-center"><a href="#">Contact</a></li>
                </ul>
            </div> 
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="contactblock">
                    <ul>
                        <li class="text-white text-center"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> .com</a></li>
                        <li class="text-white text-center"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
                        <li class="text-white text-center"><a href="#"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
                        <li class="text-white text-center"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                        <li class="text-white text-center"><a href=""><i class="fa fa-phone" aria-hidden="true"></i> (+91) 67575754656</a></li>
                    </ul>
                </div>
            </div>                                               
        </div> 
        <hr class="bg-white">
        <div class="text-center text-white pt-3 pb-2">
            <p>&copy; Copyright | Gracious | 2020</p>
        </div>            
  </div>
</div>
</footer>
  

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>      
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>    
    </body>
</html>