<footer>
    <div class="foot-container">
      <div class="columns">
        <h4><strong>REACH US</strong></h4>
        <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia deserunt ducimus, laborum quo expedita
          cupiditate.</P>
        <button type="submit" value="LEARN MORE" class="button">LEARN MORE</button>
      </div>
      <div class="columns connect">
        <h4><strong>CONNECT</strong></h4>
        <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, officiis quo tempore voluptate quos
          dolorem.</P>
        <div class="social">
          <div class="social-icon">
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
          </div>
          <div class="social-icon">
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          </div>
          <div class="social-icon">
            <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
          </div>
          <div class="social-icon">
            <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
        <h5 style="letter-spacing: 1px;">Copyright &copy; 2020 - EpochZero</h5>
      </div>
      <div class="columns">
        <h4><strong>SUBSCRIBE</strong></h4>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati omnis dolores nisi doloremque hic magnam.
        </P>
        <div class="subs">
          <label for="email"></label>
          <input type="email" name="email" id="name" placeholder="Enter Email">
          <button type="submit" value="SUBSCRIBE" class="button">SUBSCRIBE</button>
        </div>
      </div>
    </div>
  </footer>
  
       <script src="../jquery.flipster.min.js"></script>
       <script src="../flipster-custom.js"></script>
    </body>
</html>