<%- include('partials/header.html') %>
<div class="se-pre-con"> </div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="overflow-x: hidden; position: fixed; top: 0; width: 100%;">
    <a class="navbar-brand" href="#">
    
     </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="position: inherit; right: 2%;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item  active">
            <a class="nav-link" href="#" style="border-bottom: 2px solid #007bff;">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
     </div>
     <i class="material-icons"  id="menu" onclick="openNav()" style=" color: black;">menu</i>
</nav>  

<!-- Mobile menu -->
<div id="mobile__menu" class="overlay" style="z-index: 999999;">
    <div class="overlay__content">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
</div>


<section>

    <div id="donate-head">
        <div class="hero-img">
            <div class="hero-heading">
            <h1 style="text-align: center;">Gracious - </h1>
            <h2>A Non Government Organisation</h2>
            </div>
        </div>
        <div class="hero-text">
            <div class="hero-head">
                <div class="flex">
                <h3>Welcome to our charity!</h3>
                </div>
            </div>
            <div class="hero-content">
                <div class="flex">
                <p>ipsum dolor sit amet consectetur adipisicing elit. Ipsum autem tempore, illo maiores, labore dolores enim id amet dolore reiciendis reprehenderit error eum dolorem deserunt ad quas necessitatibus praesentium architecto.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est fugit enim odio expedita explicabo assumenda earum, voluptatem atque quod illo.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="text-center first">
        <h1 class="centered">TOGETHER WE CAN IMPROVE THEIR LIVES <br>
            SO LET'S DO IT !</h1>
        <form action="/pay" method="post">
            <input type="submit" value="DONATE" class="btn">
        </form>
</div>



<section id="quote" class="testimonial-section py-5" id="testimonials">
    <h3>Our Causes</h3>
    <div class="container py-lg-5">
      <div id="flipster-carousel" class="flipster-carousel pt-md-3">
        <div class="flip-items pb-5">
          <div class="flip-item text-center text-md-left">
            <div class="item-inner shadow-lg rounded">
              <h5 class="mb-2">Bring water to the children</h5>
              
              <div class="mb-3">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa.
              </div>
            </div>
          </div>


          <div class="flip-item">
            <div class="item-inner shadow-lg rounded">
              <h5 class="mb-2">Education For All</h5>
     
              <div class="mb-3">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa.
              </div>
            </div>
          </div>

          <div class="flip-item">
            <div class="item-inner shadow-lg rounded">
              <h5 class="mb-2">Bring Water To The Children</h5>
  
              <div class="mb-3">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa.
              </div>
            </div>
          </div>


        </div>

        <div class="pt-5 text-center">
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </section>





<%- include('partials/footer.html') %>
