<%- include('partials/header.html') %>
<div class="se-pre-con"> </div>

<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>

<div class="text-center first">
        <h1 class="centered">TOGETHER WE CAN IMPROVE THEIR LIVES <br>
            SO LET'S DO IT !</h1>
        <form action="/pay" method="post">
            <input type="submit" value="DONATE" class="btn">
        </form>
</div>

<%- include('partials/footer.html') %>
